<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleHelpBookFolder</key>
	<string>XFileHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>net.script-factory.XFile.help</string>
	<key>CFBundleIdentifier</key>
	<string>net.script-factory.XFile</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7.2</string>
	<key>CFBundleVersion</key>
	<string>18</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2007-2020, Kurita Tetsuro</string>
	<key>WindowState</key>
	<dict>
		<key>bundleDividerCollapsed</key>
		<false/>
		<key>bundlePositionOfDivider</key>
		<real>640</real>
		<key>dividerCollapsed</key>
		<false/>
		<key>eventLogLevel</key>
		<integer>2</integer>
		<key>name</key>
		<string>ScriptWindowState</string>
		<key>positionOfDivider</key>
		<real>577</real>
		<key>savedFrame</key>
		<string>476 144 943 715 0 0 1440 877 </string>
		<key>selectedTab</key>
		<string>log</string>
	</dict>
</dict>
</plist>
