<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>1.5 copyright 2007-2012, Tetsuro KURITA</string>
	<key>CFBundleHelpBookFolder</key>
	<string>XFile Help</string>
	<key>CFBundleHelpBookName</key>
	<string>XFile Help</string>
	<key>CFBundleIdentifier</key>
	<string>Scriptfactory.XFile</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5</string>
	<key>CFBundleVersion</key>
	<string>1.5</string>
	<key>NSHumanReadableCopyright</key>
	<string>copyright 2007-2012, Tetsuro KURITA</string>
	<key>WindowState</key>
	<dict>
		<key>dividerCollapsed</key>
		<false/>
		<key>eventLogLevel</key>
		<integer>-1</integer>
		<key>name</key>
		<string>ScriptWindowState</string>
		<key>positionOfDivider</key>
		<real>439</real>
		<key>savedFrame</key>
		<string>423 125 866 715 0 0 1440 878 </string>
		<key>selectedTabView</key>
		<string>event log</string>
	</dict>
</dict>
</plist>
